@import 'src/shared/styles/index';

.task {
  display: flex;
  align-items: center;
  column-gap: $gap-sm;
  color: var(--color-primary-font);
  padding: $gap-sm;
  border: 1px solid var(--color-secondary-font);
  border-radius: $border-rad-8;
}