@import 'src/shared/styles/index';

.input-checkbox {
  position: absolute;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;

  &:checked + .checkbox {
    background-color: var(--color-selected);
    border: 2px solid var(--color-selected);

    svg path {
      stroke-dasharray: 500;
      stroke-dashoffset: 500;
      stroke: #fff;
      stroke-width: 3;
      animation: check 4s forwards;
    }
  }

  &:checked + .checkbox::before {
    animation: ripple 0.3s;
  }
}

.checkbox {
  width: px-to-rem(24px);
  height: px-to-rem(24px);
  border: 2px solid var(--color-primary-font);
  border-radius: $border-rad-50;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: px-to-rem(3px);
  transition: 0.3s all;

  &::before {
    content: '';
    background-color: var(--color-selected);
    position: absolute;
    border-radius: $border-rad-50;
    transform: scale(0);
    display: block;
    width: px-to-rem(60px);
    height: px-to-rem(60px);
    z-index: -1;
  }

  svg {
    width: px-to-rem(20px);
    height: px-to-rem(20px);
  }
}

@keyframes check {
  to {
    stroke-dashoffset: 0;
  }
}