@import "src/shared/styles/index";

.colorpicker {
  display: flex;
  justify-content: space-around;

  @layer utility {
    &__button {
      position: relative;
      border-radius: $border-rad-50;
      padding: $gap-sm;
      width: px-to-rem(30px);
      height: px-to-rem(30px);
      border: 2px solid transparent;
      background-color: #fffacd;
      transition: border 0.3s ease;

      &--selected {
        border-color: #a855f7;
        background-color: #fffacd;

        &::after {
          content: '✔';
          position: absolute;
          top: px-to-rem(-3px);
          right: px-to-rem(-5px);
          width: px-to-rem(15px);
          height: px-to-rem(15px);
          border-radius: $border-rad-50;
          background-color: #a855f7;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: px-to-rem(10px);
          color: white;
        }
      }
    }
  }
}
