@import 'src/shared/styles/index';

.main {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: 80px auto;
  grid-auto-rows: auto;
  grid-column: 1 / -1;

  &__content {
    grid-column: 1 / -1;
    padding: 0 16px;
    background-color: var(--color-primary);
  }

  @include respond-to('tablet') {
    &__content {
      grid-column: 3 / -1;
      border: 1px solid #C539B4;
      padding: 0;
    }

  }


  @include respond-to('desktop') {
    &__content {
      grid-column: 3 / -1;

    }
  }
}