@import 'src/shared/styles/index';

.nav-actions {
  $this: &;
  border-bottom: 1px solid var(--color-hover-bg);
  display: flex;
  flex-direction: column;
  gap: $gap-sm 0;

  @layer utility {
    &__button {
      display: flex;
      align-items: center;
      padding: 0 $gap-sm 0 $gap-lg;
      column-gap: px-to-rem(8px);
      border: none;
      border-radius: $border-rad-4;
      background-color: transparent;
      color: var(--color-primary-font);

      @include respond-to('desktop') {
        &:hover {
          background-color: var(--color-hover-bg);
          border-radius: $border-rad-4;
        }
      }

      &--pressed {
        background-color: var(--color-selected);
        color: var(--color-selected-font);

        @include respond-to('desktop') {
          &:hover {
            background-color: var(--color-selected);
            color: var(--color-selected-font);

          }
        }

        #{$this}__icon {
          svg {
            stroke: var(--color-icon-bg);
            fill: var(--color-selected);
          }
        }
      }
    }
  }

  @layer utility {
    &__icon {
      svg {
        width: $icon-size-md;
        height: $icon-size-md;
        fill: var(--color-main-bg);
        stroke: var(--color-icon-bg);
      }
    }
  }
}
