@import 'src/shared/styles/index';

@mixin button-pressed-styles {
  background-color: var(--color-primary);
  color: var(--color-secondary-font);
}

@mixin button-hover-styles {
  background-color: var(--color-secondary-bg);
  border-radius: $border-rad-4;
}

.nav-actions {
  $this: &;
  border-bottom: 1px solid var(--color-hover-bg);
  display: flex;
  flex-direction: column;
  gap: $gap-sm 0;

  @layer utility {
    &__button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius:  0 $border-rad-4 $border-rad-4 0;
      padding: $gap-sm $gap-md $gap-sm $gap-lg;
      background-color: transparent;
      color: var(--color-primary-font);

      &--pressed {
        @include button-pressed-styles;

        #{$this}__icon {
          svg {
            stroke: var(--color-secondary-icon);
            fill: var(--color-primary);
          }
        }
      }

      @include respond-to('desktop') {
        &:hover {
          @include button-hover-styles;

        }

        &--pressed:hover {
          @include button-pressed-styles;
        }
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    column-gap: px-to-rem(8px);
  }

  @layer utility {
    &__icon {
      svg {
        width: $icon-size-md;
        height: $icon-size-md;
        fill: var(--color-main-bg);
        stroke: var(--color-primmary-icon);
      }
    }
  }
}
