@import 'src/shared/styles/index';

.nav-actions {
  $this: &;
  border-bottom: 1px solid #EFEFEF;

  @layer utility {
    &__button {
      display: flex;
      align-items: center;
      padding: 0 $gap-sm 0 $gap-lg;
      column-gap: px-to-rem(8px);
      border: none;
      border-radius: $border-rad-4;
      background-color: transparent;
    }
  }

  @layer utility {
    &__icon {
      svg {
        width: $icon-size-md;
        height: $icon-size-md;
        fill: #EFEFEF;
        stroke: black;
      }
    }
  }

  @include respond-to('desktop') {
    &__button {
      &:hover {
        background-color: var(--color-accent);
        color: var(--color-hover-font);

        #{$this}__icon {
          svg {
            fill: var(--color-accent);
            stroke: #EFEFEF;
          }
        }
      }
    }
  }
}

