@import "src/shared/styles/index";

@mixin button-pressed-styles {
  background-color: var(--color-selected);
  color: var(--color-selected-font);

  .nav-date__button-label, .nav-date__counter {
    color: var(--color-selected-font);
  }

  .nav-date__icon {
    fill: var(--color-icon-bg);
  }
}

@mixin button-hover-styles {
  background-color: var(--color-hover-bg);
  border-radius: $border-rad-4;

  .nav-date__button-label, .nav-date__counter {
    color: var(--color-primary-font);
  }

  .nav-date__icon {
    fill: var(--color-icon-bg);
  }
}

.nav-date {
  $this: &;
  border-bottom: 1px solid var(--color-hover-bg);
  display: flex;
  flex-direction: column;
  gap: $gap-sm 0;

  @layer utility {
    &__button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 $gap-md 0 $gap-lg;
      background: transparent;
      border: none;
      color: var(--color-primary-font);
      white-space: nowrap;


      &--pressed {
        @include button-pressed-styles;
      }

      @include respond-to('desktop') {
        &:hover {
          @include button-hover-styles;
        }

        &--pressed:hover {
          @include button-pressed-styles;
        }
      }
    }

    &__wrapper {
      display: flex;
      align-items: center;
      column-gap: px-to-rem(8px);
    }

    &__icon {
      width: $icon-size-sm;
      fill: var(--color-icon-bg);
    }
  }
}
