@import '../../styles/index';

.modal {
  $this: &;

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: end;
    justify-content: center;

    opacity: 0; /* Изначально невидимо */
    transition: opacity 0.3s ease-out;
    pointer-events: none;

    @include respond-to('tablet') {
      align-items: center;
    }
  }

  &__content {
    position: relative;
    background-color: var(--color-main-bg);
    padding: 20px;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: calc(100% - 50px);

    transform: translateY(100%); /* Начальная позиция - вне экрана */
    transition: transform 0.3s ease-out; /* Анимация появления */

    @include respond-to('tablet') {
      width: 45%;
      height: 68%;
      border-radius: px-to-rem(8px);
      transform: scale(0); /* Начальная позиция - вне экрана */
      transition: transform 0.3s ease-out; /* Анимация появления */
      transform-origin: center; /* Точка появления - центр экрана */
    }
  }

  &--active {
    #{$this}__overlay {
      opacity: 1; /* Активное состояние: видно */
      pointer-events: auto;
    }

    #{$this}__content {
      transform: translateY(0);
      @include respond-to('tablet') {
        transform: scale(1); /* Появление из центра экрана */
      }
    }
  }
}
