@import 'src/shared/styles/index';


@mixin button-variant($color, $hover-color) {
  background-color: $color;
  &:hover {
    background-color: $hover-color;
  }
}

@layer component {
  .button {
    padding: 10px 20px;
    border: none;
    border-radius: px-to-rem(6px);
    font-size: px-to-rem(16px);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    color: var(--color-secondary-font);
    transition: background-color 0.3s ease;

    &--primary {
      @include button-variant(var(--color-primary), var(--color-primary-hover));
    }

    &--secondary {
      @include button-variant(var(--color-secondary), var(--color-secondary-hover));
    }

    &--success {
      @include button-variant(var(--color-success), var(--color-success-hover));
    }

    &--info {
      @include button-variant(var(--color-info), var(--color-info-hover));
    }

    &--danger {
      @include button-variant(var(--color-danger), var(--color-danger-hover));
    }

    &--warning {
      @include button-variant(var(--color-warning), var(--color-warning-hover));
    }

    &--outline {
      background-color: transparent;
      color: var(--color-primary);
      border: 1px solid var(--color-primary);

      &:hover {
        background-color: var(--color-primary);
        color: white;
      }
    }
  }
}
