@import 'src/shared/styles/index';

@layer component {
  .icon {
    width: $icon-size-md;
    height: $icon-size-md;
    svg {
      stroke: var(--color-icon-bg);
      width: 100%;
      height: 100%;
    }
  }
}