@import 'src/shared/styles/index';

.create {
  display: flex;
  flex-direction: column;
  row-gap: $gap-md;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: px-to-rem(24px);
  }
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: $gap-xl;

  &__field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: px-to-rem(50px);
    column-gap: $gap-md;
  }

  &__label {
    white-space: nowrap;
  }


  @layer uitlity {
    &__input {
      border: none;
      outline: none;
      border-bottom: 1px solid gray;
      background-color: var(--color-main-bg);
      color: var(--color-primary-font);

      &:focus {
        border-bottom: 1px solid var(--color-link);
      }
    }

    &__button {
      height: px-to-rem(40px);

      &--delete {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
        border-color: var(--color-danger);
        color: var(--color-danger);

        svg {
          height: px-to-rem(20px);
          stroke: var(--color-danger);
          fill: transparent;
        }

        @include respond-to('desktop') {
          &:hover {
            background-color: var(--color-danger);
            color: var(--color-secondary-font);

            svg {
              stroke: var(--color-secondary-icon);
              fill: transparent;
            }
          }
        }
      }
    }
  }

  &__button-group {
    display: grid;
    grid-template-columns: 1fr;

    &--edit {
      grid-template-columns: 1fr 1fr;
      column-gap: $gap-md;
    }
  }

}

input[type='date'], input[type='time'], input[type='color'] {
  border: none;
  border-radius: 0;
}

input[type='color'] {
  width: px-to-rem(70px);
  height: px-to-rem(40px);
  border-radius: $border-rad-50;
}