@import 'src/shared/styles/index';

.content {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr;
  row-gap: $gap-md;
  padding: 0 $gap-md $gap-md $gap-md;
  height: calc(100vh - 70px);
  grid-column: 1 / -1;

  @include respond-to('tablet') {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto 1fr auto;
    height: calc(100vh - 80px);
    grid-column: 3 / -1;
  }

  @include respond-to('desktop') {
    grid-template-columns: repeat(12, 1fr);
  }

  &__title {
    text-transform: capitalize;
  }

  &__header {
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    column-gap: $gap-sm;

    @include respond-to('desktop') {
      grid-column: 4 / 10;
    }
  }

  @layer utility {
    &__button {
      border-radius: $border-rad-50;
      display: flex;
      align-items: center;
      padding: $gap-md;
      font-size: px-to-rem(18px);
      width: px-to-rem(50px);
      height: px-to-rem(50px);
      position: absolute;
      bottom: px-to-rem(16px);
      right: px-to-rem(16px);

      svg {
        width: px-to-rem(18px);
        fill: var(--color-icon-bg);
        transform: rotate(45deg);
      }

      @include respond-to('desktop') {
        grid-column: 4 / 10;
        position: static;
        border-radius: $border-rad-8;
        column-gap: $gap-md;
        width: 100%;
      }
    }
  }

  &__button-text {
    display: none;

    @include respond-to('desktop') {
      display: block;

    }
  }
}