@use "sass:math";

@function px-to-rem($px, $base-font-size: 16px) {
  @return math.div($px, $base-font-size) * 1rem;
}

/*light theme*/
html[data-theme='light'] {
  --color-main-bg: #f9f5d7;
  --color-primary-font: #7C6F64;
  --color-secondary-font: #fbf1c7;
  --color-primary: #458588;
  --color-primary-hover: #076678;
  --color-secondary: #689D6A;
  --color-secondary-hover: #427B58;
  --color-info: #D3869B;
  --color-info-hover: #B16286;
  --color-warning: #D79921;
  --color-warning-hover: #B57614;
  --color-success: #98971A;
  --color-success-hover: #79740E;
  --color-danger: #CC241D;
  --color-danger-hover: #9D0006;
}

/*dark theme*/
html[data-theme='dark'] {
  --color-main-bg: #282828;
  --color-primary-font: #A89984;
  --color-secondary-font: #fbf1c7;
  --color-primary: #8EC07C;
  --color-primary-hover: #689D6A;
  --color-secondary: #83A598;
  --color-secondary-hover: #458588;
  --color-info: #D3869B;
  --color-info-hover: #B16286;
  --color-warning: #FABD2F;
  --color-warning-hover: #D79921;
  --color-success: #B8BB26;
  --color-success-hover: #98971A;
  --color-danger: #FB4934;
  --color-danger-hover: #CC241D;
}


/*icon-sizes*/
$icon-size-xs: px-to-rem(8px);
$icon-size-sm: px-to-rem(16px);
$icon-size-md: px-to-rem(24px);
$icon-size-lg: px-to-rem(32px);
$icon-size-xl: px-to-rem(48px);

/*spacing sizes*/
$gap-xs: px-to-rem(4px);
$gap-sm: px-to-rem(8px);
$gap-md: px-to-rem(16px);
$gap-lg: px-to-rem(24px);
$gap-xl: px-to-rem(32px);


/*border-radius*/
$border-rad-4: px-to-rem(4px);
$border-rad-8: px-to-rem(8px);
$border-rad-16: px-to-rem(16px);
$border-rad-50: 50%;