@use "sass:math";

@function px-to-rem($px, $base-font-size: 16px) {
  @return math.div($px, $base-font-size) * 1rem;
}

:root {
  --color-danger: #EE4E4E;
  --color-success: #B5CB99;

}

  /*light theme*/
  html[data-theme='light'] {
    --color-secondary-font: #7D7C7C;
    --color-primary-font: #445069;
    --color-accent: #050C9C;
    --color-secondary: #1D24CA;
    --color-main-bg: #FEFEFE;
    --color-link: #667BC6;
    --color-hover-font: #FEFEFE;
    --color-icon-bg: #EFEFEF;
    --color-large-font: #151515;

  }

  /*dark theme*/
  html[data-theme='dark'] {
    --color-primary-font: #ebdbb2;
    --color-secondary-font: #d5c4a1;
    --color-accent: #282828;
    --color-secondary: #3c3836;
    --color-main-bg: #282828;
    --color-link: #6e8e7e;
    --color-icon-bg: #d5c4a1
  }


/*icon-sizes*/
$icon-size-xs: px-to-rem(8px);
$icon-size-sm: px-to-rem(16px);
$icon-size-md: px-to-rem(24px);
$icon-size-lg: px-to-rem(32px);
$icon-size-xl: px-to-rem(48px);

/*spacing sizes*/
$gap-xs: px-to-rem(4px);
$gap-sm: px-to-rem(8px);
$gap-md: px-to-rem(16px);
$gap-lg: px-to-rem(24px);
$gap-xl: px-to-rem(32px);


/*border-radius*/
$border-rad-4: px-to-rem(4px);
$border-rad-8: px-to-rem(8px);
$border-rad-16: px-to-rem(16px);
$border-rad-50: 50%;