@import 'src/shared/styles/normalize.scss';

@layer reset, component, utility;
@layer reset {
    * {
        font-family: Lato, serif;
        margin: 0;
        padding: 0;
    }

    html {
        font-size: 16px;
    }

    html body {
        height: 100%;
        width: 100%;
        background-color: var(--color-main-bg);
        color: var(--color-primary-font);
    }

    #root {
        height: 100vh;
    }
}






