@import 'src/shared/styles/index';

@mixin common-button {
  background-color: transparent;
  border: none;
}

.nav-tags {
  $this: &;
  border-bottom: 1px solid var(--color-hover-bg);
  display: flex;
  flex-direction: column;
  gap: $gap-sm 0;

  &__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 px-to-rem(24px) 0 px-to-rem(24px);
  }

  @layer utility {
    &__button {
      @include common-button;
      display: flex;
      align-items: center;
      padding-left: px-to-rem(24px);
      border-radius: $border-rad-4;
      color: var(--color-primary-font);

      @include respond-to('desktop') {
        &:hover {
          background-color: var(--color-hover-bg);
          border-radius: $border-rad-4;
        }
      }

      &--pressed {
        background-color: var(--color-selected);
        color: var(--color-selected-font);

        @include respond-to('desktop') {
          &:hover {
            background-color: var(--color-selected);
            color: var(--color-selected-font);
          }
        }

        #{$this}__icon {
          svg {
            stroke: var(--color-icon-bg);
            fill: var(--color-selected);
          }
        }
      }
    }

    &__button--add {
      @include common-button;
      font-weight: bold;
      width: px-to-rem(14px);

      svg {
        transform: rotate(45deg);
        width: px-to-rem(14px);
      }
    }
  }
}