@import 'src/shared/styles/index';

@mixin button-pressed-styles {
  background-color: var(--color-primary);
  color: var(--color-secondary-font);
}

@mixin button-hover-styles {
  background-color: var(--color-secondary-bg);
  border-radius: $border-rad-4;
}

.nav-tags {
  $this: &;
  border-bottom: 1px solid var(--color-hover-bg);
  display: flex;
  flex-direction: column;
  gap: $gap-sm 0;

  &__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 px-to-rem(24px) 0 px-to-rem(24px);
  }

  @layer utility {
    &__button {
      display: flex;
      align-items: center;
      border-radius:  0 $border-rad-4 $border-rad-4 0;
      padding: $gap-sm $gap-md $gap-sm $gap-lg;
      background-color: var(--color-main-bg);
      color: var(--color-primary-font);

      &--pressed {
        @include button-pressed-styles;

        @include respond-to('desktop') {
          &:hover {
            @include button-hover-styles;
          }
        }

        #{$this}__icon {
          svg {
            stroke: var(--color-icon-bg);
            fill: var(--color-selected);
          }
        }
      }

      @include respond-to('desktop') {
        &:hover {
          @include button-hover-styles;
        }

        &--pressed:hover {
          @include button-pressed-styles;
        }
      }
    }

    &__button--add {
      display: flex;
      justify-content: space-between;
      background-color: var(--color-main-bg);
      color: var(--color-primary-font);
      font-weight: bold;

      svg {
        fill: var(--color-primmary-icon);
        stroke: var(--color-primmary-icon);
        transform: rotate(45deg);
        width: px-to-rem(14px);
      }
    }
  }


}