@import 'src/shared/styles/index';

.edit {
  display: flex;
  flex-direction: column;
  row-gap: $gap-md;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-size: px-to-rem(24px);
  }
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: $gap-xl;

  &__field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: px-to-rem(50px);
    column-gap: $gap-md;
  }

  &__label {
    white-space: nowrap;
  }

  @layer uitlity {
    &__input {
      border: none;
      outline: none;
      border-bottom: 1px solid gray;
      background-color: var(--color-main-bg);
      color: var(--color-primary-font);

      &:focus {
        border-bottom: 1px solid var(--color-link);
      }
    }
  }

  &__button {
    background-color: var(--color-link);
    border-radius: $border-rad-8;
    border: none;
    color: var(--color-primary-font);
  }

  &__button-group {
    display: flex;
    column-gap: $gap-md;
  }
}

input[type='date'], input[type='time'], input[type='color'] {
  border: none;
  border-radius: 0;
}

input[type='color'] {
  width: px-to-rem(70px);
  height: px-to-rem(40px);
  border-radius: $border-rad-50;
}