@import 'src/shared/styles/index';

.search {
  $this: &;
  position: relative;

  @layer utility {
    &__input {
      height: px-to-rem(40px);
      border: 2px solid var(--color-icon-bg);
      border-radius: px-to-rem(16px);
      padding: 0 px-to-rem(50px);
      background-color: var(--color-accent);
      color: var(--color-icon-bg);
      opacity: 0;
      width: 0;
      transition: width 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940), opacity 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);

      &:focus {
        border: 1px solid var(--color-selected);
      }

      &::placeholder {
        color: var(--color-icon-bg);
      }

      &--visible {
        width: 100%;
        opacity: 1;
      }
    }

    &__icon {
      position: absolute;
      top: 52%;
      left: px-to-rem(15px);
      transform: translateY(-50%);


        stroke: var(--color-icon-bg);
        width: $icon-size-md;
        height: $icon-size-md;

    }
  }

  @include respond-to('tablet') {
    @layer utility {
      &__input {
        opacity: 1;
        width: 100%;
      }
    }
  }
}



