@import 'src/shared/styles/index';

.settings {
  display: flex;
  flex-direction: column;
  row-gap: $gap-lg;
  padding: 0 $gap-md 0 $gap-md;
  grid-column: 1 / -1;

  @include respond-to('tablet') {
    grid-column: 4 / 8;
    padding: 0
  }

  @include respond-to('desktop') {
    grid-column: 6 / 10;
  }

@layer utility {
  &__button-close {
    width: px-to-rem(40px);
    height: px-to-rem(40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secondary-bg);
    border-radius: $border-rad-50;
    padding: 0;

    svg {
      fill: var(--color-primmary-icon);
    }
  }
}

  &__content, &__theme, &__language {
    display: flex;
    flex-direction: column;
    row-gap: $gap-xs;
  }

  &__theme, &__language {
    padding: $gap-md 0 $gap-md 0;
    border-bottom: 1px solid var(--color-secondary-bg);
  }

  &__content {
    row-gap: $gap-lg;
  }

  &__subtitle {
    font-weight: bold;
  }

  &__radio-group {
    display: flex;
    column-gap: $gap-sm;
    align-items: center;
  }
}

.wrapper {
  display: flex;
  justify-content: flex-end;
}