@import 'src/shared/styles/index';

.header {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-rows: subgrid;
  grid-column: 1 / -1;
  background-color: var(--color-accent);
  height: px-to-rem(40px);
  align-items: center;
  padding: 0 16px;

  &__menu {
    grid-column: 1;

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: px-to-rem(24px);
      height: px-to-rem(24px);
      border: none;
      background: transparent;

    }

    &-icon {
      svg {
        width: $icon-size-md;
        height: $icon-size-md;

        g {
          stroke: var(--color-icon-bg);
        }
      }
    }
  }

  &__search {
    grid-column: 1 / 4;
    margin-left: px-to-rem(32px);
  }

  &__actions {
    grid-column: 4 / 5;
    display: flex;
    column-gap: $gap-sm;
    justify-content: end;


    @layer utitlity {
      &-button {
        border: none;
        background: none;
        width: $icon-size-lg;
        height: $icon-size-lg;

        path {
          stroke: var(--color-icon-bg);
        }
      }
    }
  }

  @include respond-to('tablet') {
    grid-column: 3 / -1;


    &__menu {
      display: none;
    }

    &__search {
      grid-column: 1 / 5;
      margin-left: 0;
    }

    &__actions {
      grid-column: -1;
    }
  }

  @include respond-to('desktop') {
    &__search {
      grid-column: 1 / 6;
    }


    &__actions {
      padding-right: $gap-md;
    }
  }
}




